@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.login{
    background-color: rgb(230, 221, 221);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 300px;
    width: 400px;
    box-sizing: border-box;
    padding: 15px;
}

.form h3{
    margin-bottom: 30px;
}

.form .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input input{
    height: 35px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input p{
    color: red;
}

.form button{
    background-color: #52b3ec;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    width: 370px;
    margin-top: 30px;
    cursor: pointer;
}

.image{
    background: #52b3ec;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 500px;
}

/* Container Dua */
.containertiga{
    margin-top: 100px;
    padding: 10px 25px;
    margin-left: 25%;
    width: 700px;
    height: 400px;
    background-color: white;
    display: none;
    border-radius: 15px;
}

.containertiga p{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #11998e;
}
.containertiga button{
    background-color: #52b3ec;
    border-radius: 5px;
    padding: 15px 25px;
    margin-left: 40px;
    margin-top: 25px;
    outline: none;
    border: none;
    color: white;
    width: 600px;
}

canvas{
    border: 1px solid #dedede;
    background: #f1f1f1;
}